/web-app/WEB-INF/classes
/prodDb.*
/stacktrace.log
/test/reports
/logs
/*.war
/*.zip
/plugin.xml
/plugins
/web-app/plugins
/target
bin/
tmp/

*Db.properties
*Db.script
*.tmp
*.bak
*.swp
*~.nib
*.launch

local.properties

.settings/
.loadpath
.externalToolBuilders/
.cproject
.buildpath
.target
.texlipse
.metadata
.gradle
